.clicked
{
    color:navy;
    font-weight: bold;
}   

ul{
list-style: none;
margin:10px 0;
padding:0;
}


li{
cursor: pointer;
transition: padding 0.3s;
}

li:hover{
    padding-left: 8px;
    color:blue;
    font-weight: bold;
    border-left: 3px solid navy;

}

label{
display:inline-block;
width:180px;
}

input {
width:250px;

}